.news {
    width: 97.5%; margin-left: 2.5%; 
    display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start;
}

.contents_title_box { background: yellow; }
.contents_title { font-size: 24px; font-weight: bold; }
.contents_article { font-size: 14px; color: #666; }

.news_contents { width: 75%; }

.news_box { display: flex; flex-wrap: wrap; flex-direction: column; gap: 20px; background: orange; }

.news_box_img_01, .news_box_img_02 { width: 100%; height: 352px; }

.news_box_img_01 { background: url(../images/slider_01.jpg) no-repeat 50% 50% / cover; }
.news_box_img_02 { background: url(../images/slider_02.jpg) no-repeat 50% 50% / cover; }

.news .owl-nav {
    background: yellow;
    position: absolute; bottom: 20px; left: -33.3%;
    display: flex; flex-wrap: wrap; gap: 10px;
}
.owl-theme .owl-nav [class*=owl-] { margin: 0; }

.news .prev-slide {
    width: 50px; height: 50px;
    background: url(../images/slider_arrow.png) no-repeat 0 0;
}

.news .next-slide {
    width: 50px; height: 50px;
    background: url(../images/slider_arrow.png) no-repeat 100% 0;
}

.news .owl-theme .owl-dots { 
    width: 100%; height: 4px; margin-top: 30px; text-align: left; background: #E9E9E9;
}

.owl-theme .owl-dots .owl-dot span {
    width: 150px; height: 4px; margin: 0; border-radius: 0; background: #F0F0F0;
}

.owl-theme .owl-dots .owl-dot.active span { background: red; }
.owl-theme .owl-dots .owl-dot:hover span { background: red; }